<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="bg-blue-400 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">Meu Blog</h1>
            <nav>
                <ul class="flex space-x-4">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'post_new' %}" class="hover:underline">
                            Novo Post
                        </a>
                    </li>
                    {% endif %}
                    
                    <li>
                        <a class="hover:underline" href="{% url 'blog' %}">Ver todos os posts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container mx-auto flex justify-between gap-4 pt-8">
        {% block content %}
        {% endblock %}
    </main>

    
</body>
</html>
